{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    ["@babel/preset-typescript", { "jsxPragma": "jsx" }]
  ],
  "plugins": [
    ["babel-plugin-jsx-dom-expressions", {
      "moduleName": "./packages/renderer/lib/jsx-runtime.js",
      "builtIns": [],
      "contextToCustomElements": true,
      "wrapConditionals": true,
      "generate": "dom"
    }]
  ]
}